<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>test_method_theory</Title>
      <Author>Y.Toyoda</Author>
      <Description>パラメータ付きテストメソッドを作成します。複数の入力セットを使用できます。</Description>
      <HelpUrl>www.microsoft.com</HelpUrl>
      <Shortcut>test_method_theory</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Xunit</Namespace>
        </Import>
        <Import>
          <Namespace>ChainingAssertion</Namespace>
        </Import>
        <Import>
          <Namespace>Xunit.Abstractions</Namespace>
        </Import>
      </Imports>
      <Code Language="CSharp" Kind="method decl" Delimiter="$"><![CDATA[
        [Theory(DisplayName = "テスト名称")]
        [Trait("Category", "分類名")]
        [Trait("Priority", "2")]        // TODO:小さい方が優先
        [InlineData(1, 1, 2)]        // TODO:入力データを準備する
        [InlineData(2, 3, 5)]
        public void AddTest(int x, int y, int ans)
        {
            output.WriteLine(result);
            var result = TestClass.Add(x, y).Is(ans);
        }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>